* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #615F60;
}

.container {
    background-color: #F1E9E7;
    width: 770px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 300px;
    border-radius: 20px;
}

ul {
    display: flex;
    text-align: center;
    justify-content: center;
}

ul a {
    text-decoration: none;
    color: #000;
    margin: 35px;
    font-size: 25px;
}

ul a:hover {
    background-color: black;
    color: white;
    padding: 25px;
    border-radius: 25px;
    transition: 0.5s ease;
}